<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Inspired Tessing Assessment">

	<test name="Task 1">
		<classes>
			<class name="Test.TaskI" />
		</classes>
	</test>
	<test name="Task 2">
		<classes>
			<class name="Test.TaskII" />
		</classes>
	</test> 
 </suite>
